<br />
<h1 class="text-center">Crecyt Explora Arica y Parinacota {{cartografia.anio}}</h1>
<hr />
<h3 class="text-center">{{rbd}} - {{colegio}}</h3>
<hr />


<div class="container">
    <div class="col-auto">

        <div class="row">


            <div class="col-md-8">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Buscar: </div>
                    </div>
                    <input type="text" class="form-control" (keyup)='onChangeSearch(seba.value)' #seba placeholder="//Ingrese el establecimiento para la busqueda/">

                </div>
            </div>
            <div class="col-md-4">
                <select [(ngModel)]="cartografia.anio" (change)="seleccion_anio()" class="form-control">
                                <option value="all">-- Ultimos tres Años --</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                              </select>

            </div>
        </div>


    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <div class="map" id="map">

            </div>
            <hr />
        </div>

        <div class="col-md-4">
            <div class="map table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Rbd</th>
                            <th scope="col">Establecimiento</th>
                            <th scope="col">Dependencia</th>
                            <th scope="col">Especio</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let crecyt of establecimiento">
                            <th><button class="btn btn-info mr-1" (click)="buscar_carto(crecyt.rbd)">{{crecyt.rbd}}</button></th>
                            <td>{{crecyt.n_colegio}} </td>
                            <td>{{crecyt.dependencia}}</td>

                            <td>{{crecyt.espacio}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <hr />



        </div>

    </div>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="map table-responsive">
                <table class="table border-1">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">cod</th>
                            <th scope="col">categoria</th>
                            <th scope="col">tipo</th>
                            <!-- <th scope="col">puntaje</th> -->
                            <th scope="col">año</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let crecyt of trabajo">
                            <th><button class="btn btn-info mr-1" (click)="get_trabajo(crecyt.cod_proyecto)">{{crecyt.cod_proyecto}}</button></th>
                            <td>{{crecyt.categoria}} </td>
                            <td>{{crecyt.seleccion}}</td>
                            <!-- <td>{{crecyt.puntaje | number}}</td> -->
                            <td>{{crecyt.anio}}</td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <hr />
            <hr />
        </div>

        <div class="col-md-6">
            <div class="map table-responsive">
                <table class="table border-1">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Cod</th>
                            <th scope="col">Nombre</th>


                            <th scope="col">Año</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let crecyt of docente">
                            <td><button class="btn btn-info mr-1" (click)="get_trabajo(crecyt.cod_proyecto)">{{crecyt.cod_proyecto}}</button></td>
                            <td>{{crecyt.n_profe}} </td>

                            <td>{{crecyt.anio}}</td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>
        <hr />
        <hr />
    </div>
</div>