<nav class="navbar navbar-expand-lg navbar-dark bg-nav-explora">
    <div class="d-flex align-items-center w-50">
        <!-- Logo -->
        <a class="navbar-brand" href="https://www.explora.cl/" target="_blank">
            <img class="img-logo" src="./assets/logo/explora-blanca.png" alt="Explora" style="width: 30%; max-height: auto;">
        </a>

        <!-- Botón del menú después del logo -->
        <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <!-- Menú colapsable alineado a la derecha -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
            <!-- Menú desplegable de Establecimientos -->
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chalkboard-teacher"></i> Establecimientos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="mapa">
                        <i class="fas fa-map-marked-alt"></i> Mapas Crecyt
                    </a>
                </div>
            </li>
            <!-- Link a Datos Cncyt -->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="cncyt">
                    <i class="fas fa-chart-line"></i> Datos Cncyt
                </a>
            </li>
        </ul>
    </div>
</nav>

